jq
tmp
cachain.zip
log.txt
*.tgz
**/cachain/*.crt
**/cachain/*.cer
docker_registry_proxy_details.sh
**/out
nodejs-server.zip
apiServer*
archive
*.rpm
*.tar.gz
githubReadToken.sh
nohup.out
**/nohup.out
outputs
*.log
**/rebuildReload.sh
randomArtifact*
**/outdir
