name: Build-and-Push Docker Image

on:
  workflow_call:
    secrets:
      registry:
        required: true
      registry_host:
        required: true
      image_name:
        required: true
      image_version:
        required: true
      user:
        required: true
      token:
        required: true

jobs:
  docker-build-and-publish:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: swagger-ui
      IMAGE_VERSION: 0.0.1
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v2

      - name: Build image
        run: docker build --tag ${{ inputs.registry }}/${{ inputs.image_name }}:${{ inputs.image_version }} api/

      - name: Log in to registry
        run: echo "${{ secrets.token }}" | docker login ${{ inputs.registry_host }} -u ${{ secrets.user }} --password-stdin

      - name: Push image
        run: |
          docker push ${{ inputs.registry }}/${{ inputs.image_name }}:${{ inputs.image_version }}
